{% extends 'base.html' %}

{% block content %}
<div class="post-container">
    {% for post in posts %}
        <div class="post">
            <h4 class="post-title"><a href="{%  url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
            <p class="content">{{ post.content|linebreaksbr|truncatewords:30 }}</p>
            <p class="right-text">{{ post.published_date }}</p>
            <p class="right-text">{{  post.author.username }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}