{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Suba Siba</title>
</head>
<body>
<div class="blog-header">
    <div class="container">
        <h2 class="blog-title"><a href="">siba Post</a></h2>
        <div class="post-container">
                <div class="post">
                    <h4 class="post-title">{{ post.title }}</h4>
                    <p class="right-text">{{ post.published_date }}</p>
                    <p class="right-text">{{ post.author.username }}</p>
                </div>
        </div>
    </div>
</div>
</body>
</html>