{% extends 'base.html' %}

{% block content %}
    <div class="post-container">
        <a class="btn btn-primary" href="/">
            <span class="glyphicon glyphicon-chevron-left"></span>
            목록으로 돌아가기
        </a>

        <div class="post">
            <h5 class="post-title">{{ post.title }}</h5>
            <h6 class="post-content">{{ post.content }}</h6>
            <p class="right-text">{{ post.published_date }}</p>
            <p class="right-text">{{ post.author.username }}</p>
        </div>
    </div>
{% endblock %}